<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>web socket demo page</title>

</head>
<body>
hello,try  to send msg to server.<br>

<button onclick="send()">send</button>


<script src="/jquery/jquery.min.js"></script>
<script src="/jquery/jquery.websocket.js"></script>
<script type="text/javascript">
    function getCookie() {
        var cookiesKey = "username";
        var cookie = document.cookie;
        var arr = cookie.split(";");
        console.log(arr)
        for(var i =0;i < arr.length;i++){
            var res =arr[i].split("=")[0];
            res = res.replace(/\s+/g,"");
            if(res === cookiesKey){
                return arr[i].split("=")[1];
            }else{
                console.log("ERORR  +-- Local://ToDoing Func:getCookie");
            }
        }
    };
</script>
<script type="text/javascript">
    var principal = getCookie();
    console.log("principal = "+principal);
    var socketURL = 'ws://' + window.location.host
        + '/websocket/'+principal;

    websocket = $.websocket(socketURL, {
        open : function() {
            // when the socket opens
            alert("open");
        },
        close : function() {
            // when the socket closes
            alert("close");
        },
        //收到服务端推送的消息处理
        events : {
            'radio' : function(event) {
                console.info($.parseJSON(event.data));
            },
            'notice' : function(event) {
                console.info($.parseJSON(event.data));
            },
            //... more custom type of message
        }
    });

    // 监听窗口关闭事件,当窗口关闭时,主动去关闭websocket连接,防止连接还没断开就关闭窗口,server端会抛异常.
    window.onbeforeunload = function() {
        websocket.close();
    }

    // 监听浏览器回退事件
    window.onpagehide = function(event) {
        websocket.close();
    }

    //发送消息
    function send() {
        websocket.send("李四","你好李四，我是张三");
    }
</script>
</body>
</html>